/* Id Responsive Section*/

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  #home,
  #skills,
  #education,
  #workexp,
  #projects,
  #certifications,
  #contct {
    margin-left: 10px;
  }
  html,
  body {
    overflow-x: hidden;
  }
  body {
    position: relative;
  }
}

@media (width: 360px) {
  #home,
  #skills,
  #education,
  #workexp,
  #projects,
  #certifications,
  #contct {
    margin-left: 4px;
  }
  .section-heading h1 {
    font-size: 20px;
    margin-top: -30px;
  }
  html,
  body {
    overflow-x: hidden;
  }
  body {
    position: relative;
  }
}

/* Nav Section for width 360px and 768px */

@media (width: 360px) {
  .responsive-nav {
    display: none;
  }

  .sidebar-navigation {
    width: 60px;
  }

  .sidebar-navigation .logo a {
    font-size: 10px;
    padding-top: 10px;
  }

  .sidebar-navigation nav a {
    font-size: 8px;
  }

  .sidebar-navigation nav ul {
    margin-left: 1px;
  }
  .sidebar-navigation nav {
    position: relative;
    top: 49%;
  }
  .resp {
    width: 60px;
    height: 60px;
    margin: 6px 0;
  }
  .circle {
    margin-right: 5px;
    height: 10px;
    width: 10px;
    left: 0px;
    top: -1px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid #fff;
    transition: all 0.3s;
  }
}

@media (width: 768px) {
  .resp {
    width: 100%;
    height: auto;
  }
  .responsive-nav {
    display: none;
  }

  .sidebar-navigation {
    width: 125px;
  }

  .sidebar-navigation .logo a {
    font-size: 10px;
    padding-top: 10px;
  }

  .sidebar-navigation nav a {
    font-size: 14px;
  }

  .sidebar-navigation nav ul {
    margin-left: 1px;
  }
  .sidebar-navigation nav {
    position: relative;
    top: 51%;
  }
}

/* Home Section for width 360px and 768px */

@media (width: 360px) {
  .intro img {
    margin-left: -70px;
    margin-right: 1px;
    width: 100px;
    height: 100px;
  }
  .intro-heading {
    margin-left: 50px;
    font-size: 18px;
  }

  .ftitle {
    margin-top: 130px;
    margin-left: -185px;
    font-size: 16px;
  }
  .mtitle {
    margin-top: -15px;
    margin-left: -180px;
    font-size: 10px;
  }
  .resume_button {
    font-size: 10px;
    margin-left: -540px;
    padding: 10px;
    margin-top: -200px;
  }
  .para {
    font-size: 10px;
    width: 100%;
    margin-left: 10px;
  }

  .container {
    font-size: 20px;
  }
  .float-container {
    font-size: 20px;
    margin-right: -390px;
  }
  .home_button {
    margin-left: -64px;
    margin-top: -65px;
    padding: 1px;
  }
  .btn {
    width: 5px;
    height: 5px;
    margin: 2px;
    outline: none;
    border: none;
    background: #d6d6d6;
    border-radius: 50%;
    transition: 0.2;
    font-size: 15px;
  }
}

@media (width: 768px) {
  .intro img {
    margin-left: -35px;
    width: 200px;
    height: 200px;
  }
  .intro-heading {
    margin-left: 100px;
  }
  .ftitle {
    margin-top: 10px;
    margin-left: 40px;
    font-size: 25px;
  }
  .mtitle {
    margin-top: -15px;
    margin-left: 52px;
    font-size: 15px;
  }

  .resume_button {
    margin-top: 10px;
    margin-left: 1px;
    font-size: 15px;
  }
  .para {
    font-size: 16px;
    margin-top: -20px;
    margin-bottom: 30px;
  }
  .home_button {
    margin-left: -30px;
    margin-top: -60px;
  }
}

/* Skills Section for width 360px and 768px */

@media (width: 360px) {
  .bars,
  .bars li {
    width: 100px;
    height: 20px;
    margin-left: 25px;
  }
  .bar-expand {
    height: 20px;
  }
  .bars1 li {
    width: 100px;
    margin-left: 60px;
    height: 20px;
  }
  .bars1 {
    margin-left: -190px;
    margin-top: 240px;
  }
  .bars1 li em,
  .bars li em {
    font-size: 10px;
  }
}

@media (width: 768px) {
  .bars1 li {
    width: 190%;
    height: 30px;
  }
  .bars li {
    width: 78%;
    height: 30px;
  }
  .bar-expand {
    height: 30px;
  }
  .bars1 {
    margin-left: -60px;
  }
  .bars {
    margin-left: 10px;
  }
}

/* Education Section for width 360px and 768px  */

@media (width: 360px) {
  #education {
    font-size: 12px;
  }
  .ed_details {
    font-size: 10px;
    margin-left: 10px;
  }
  .edu_img1 {
    width: 60px;
    height: 65px;
    margin-left: 10px;
  }
  .edu_img {
    width: 150px;
    height: 60px;
    margin-left: 15px;
  }
  .child {
    margin-left: -40px;
    float: left;
  }
  .child1 {
    margin-right: 472px;
    float: right;
  }
  .edu_para {
    font-size: 12px;
    margin-left: 20px;
  }
  .ed_title {
    font-size: 11px;
    width: 10px;
    margin-left: 1px;
  }
}

@media (width: 768px) {
  .ed_details {
    font-size: 15px;
    margin-left: 1px;
  }
  .edu_img1 {
    width: 90px;
    height: 85px;
    margin-left: 5px;
  }
  .edu_img {
    width: 190px;
    height: 80px;
    margin-left: -10px;
  }
  .child {
    margin-left: 5px;
    float: left;
  }
  .child1 {
    margin-top: 5px;
    margin-left: 5px;
    float: right;
  }
  .edu_para {
    font-size: 14px;
    margin-left: -20px;
  }
  .ed_title {
    font-size: 14px;
    width: 10px;
    margin-left: -55px;
  }
}

/* Work Experience Section for width 360px and 768px */

@media (width: 360px) {
  .work_title {
    font-size: 12px;
    margin-left: 9px;
  }
  .timeline {
    margin-left: -30px;
    margin-right: 5px;
    float: left;
  }
  .timeline2 {
    float: left;
    margin-left: -20px;
  }
  .compname {
    font-size: 12px;
  }
  .work_img1 {
    width: 55px;
    height: 44px;
    margin-left: 40px;
  }
  .proj_img1 {
    width: 60px;
    height: 68px;
    margin-left: 5px;
  }
  .work_img {
    width: 90px;
    height: 45px;
    margin-left: 10px;
  }
  .work_para {
    font-size: 12px;
  }
  .card,
  .card2 {
    width: 120px;
    margin-left: 10px;
  }
  .heading {
    font-size: 15px;
  }
}

@media (width: 768px) {
  .work_img1 {
    width: 80px;
    height: 68px;
    margin-left: 10px;
  }
  .work_img {
    width: 140px;
    height: 68px;
    margin-left: -10px;
  }
  .card2 {
    width: 240px;
    margin-left: 10px;
  }
  .heading {
    font-size: 15px;
  }
  .timeline {
    margin-left: -40px;
    margin-right: 5px;
    float: left;
  }
  .timeline2 {
    float: left;
    margin-left: -30px;
  }
  .work_title {
    font-size: 18px;
    margin-left: 9px;
  }
  .compname {
    font-size: 15px;
  }
  .work_para {
    font-size: 12.5px;
  }
}

/* Projects Section for width 360px and 768px */

@media (width: 360px) {
  .column {
    width: 160%;
    margin-left: 10px;
  }
  .Contct_form {
    margin-left: 150px;
  }
  .card {
    width: 55%;
    margin-left: 10px;
  }
  .proj_img1 {
    height: 80px;
  }
  .proj_img {
    height: 80px;
  }
}

@media (width: 768px) {
  .column {
    width: 60%;
    margin-left: 180px;
  }
  .Contct_form {
    margin-left: 150px;
  }
  .card {
    width: 90%;
    margin-left: -40px;
  }
  .proj_img1 {
    height: 120px;
  }
  .proj_img {
    height: 120px;
  }
}

/* Certification Section for width 360px and 768px  */

@media (width: 360px) {
  .certificates {
    width: 75%;
    margin-left: 40px;
    margin-bottom: 10px;
  }
  .desc {
    font-size: 12px;
  }
  div.gallery {
    height: 160px;
  }
}

@media (width: 768px) {
  .certificates {
    width: 45%;
    margin-left: 160px;
    margin-bottom: 20px;
  }
  .desc {
    font-size: 15px;
  }
  div.gallery {
    height: 200px;
  }
}

/* Contact Section for width 360px and 768px */

@media (width: 360px) {
  .googlemap {
    margin-left: 1px;
    width: 250px;
    height: 250px;
  }
  .Contct_form {
    margin-left: 180px;
  }
  .form_style {
    margin-left: -235px;
    margin-top: 1px;
    font-size: 16px;
  }
  .col-85,
  .col-75 {
    margin-left: -95px;
  }
  input[type="text"],
  select,
  textarea {
    width: 190px;
    height: 33px;
    margin-left: 10px;
  }
  .Contct_form {
    margin-top: 300px;
    margin-left: 1px;
  }
  input[type="submit"] {
    width: 100px;
    margin-left: 29px;
    margin-top: -10px;
    padding: 8px;
    font-size: 12px;
  }
  .section-heading p {
    font-size: 12px;
  }
}

@media (width: 768px) {
  .googlemap {
    margin-left: 115px;
    width: 300px;
    height: 280px;
  }
  .form_style {
    margin-left: -550px;
    margin-top: 6px;
  }
  .col-85,
  .col-75 {
    margin-left: -95px;
  }
  input[type="text"],
  select,
  textarea {
    width: 300px;
    margin-left: -142px;
  }
  .Contct_form {
    margin-top: 300px;
    margin-left: 1px;
  }
  input[type="submit"] {
    width: 100px;
    margin-left: -85px;
  }
}

/* Tel Button */

@media (width: 360px) {
  .footer_buttons {
    font-size: 20px;
    padding: 5px;
    width: 60%;
    margin-left: 130px;
    margin-top: -45px;
    margin-bottom: 25px;
  }
}

@media (width: 768px) {
  .footer_buttons {
    font-size: 20px;
    padding: 5px;
    width: 60%;
    margin-left: 185px;
    margin-top: -58px;
    margin-bottom: 25px;
  }
}
