body{
  background-color:  black ;
}

.panel_display{
  font-size: 27px;
  line-height: 1;
  color: #fff;
}

/* 2nd Page Titles */

.title{
  font-size: 42px;
  font-weight:bold;
  text-align: center;
  color: white;
}

.ftitle{
  font-size: 40px;
  font-weight:bold;
  text-align: left;
  color: white;
}

.videotitle{
  font-size: 20px;
  font-weight:bold;
  color: white;
  text-align: center;
}



.topnav {
background-color: black;
overflow: hidden;
}
  
  /* Style the links inside the navigation bar */

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #1d899f;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
  background-color: red;
  color: white;
  }






  /* Footer */
  
  .footer {
    background-color: #000;
    width: 100%;
    font: bold 16px sans-serif;
    padding: 55px 50px;
    margin-top: 80px;
  }
  
  .footer .footer-left,
  .footer .footer-center,
  .footer .footer-right {
    display: inline-block;
    vertical-align: top;
  }
  
  /* Footer left */
  
  .footer .footer-left {
    width: 40%;
  }
  
  /* Footer Center */
  
  .footer .footer-center {
    width: 35%;
  }
  
  .footer .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
  }
  
  .footer.footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
  }
  
  .footer .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
  }
  
  .footer .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
  }
  
  .footer.footer-center p a {
    color: #5383d3;
    text-decoration: none;
  }
  
  /* Footer Right */
  
  .footer .footer-right {
    width: 20%;
  }
  
  .footer .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
  }
  
  .footer .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  

  




.aside_text{
  font-size:larger;
  font-style:italic;
  font-size: 28px;
  color:red;
  float:right;
  width:35%;
  padding-left:5px;
}
  
  