.logo-image{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}

#container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
   }
   .video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }
   .gallery{
       margin: 10px;
       position: relative;
       padding-bottom: 56.25%;
   }



#container2{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
   }

   .gallery_merch{
    float: left;
    padding: 30px;
    margin: 53px;
    }
    .gallery_merch img{
    width: 305px;
    height: 305px;
    }

    .gallery_merch:hover {
     cursor: pointer;
     border-radius: 5px;
     box-shadow: 5px -5px red;
     border: 1px solid grey;
    }   


    .gallery_merch1{
        float: left;
        padding: 30px;
        margin: 50px;
        }
        .gallery_merch1 img{
        width: 305px;
        height: 305px;
        }
    
        .gallery_merch1:hover {
         cursor: pointer;
         border-radius: 5px;
         box-shadow: 5px -5px red;
         border: 1px solid grey;
        }   
    

    .desc{
    padding: 10px;
    text-align: center;
    font-size: 18px;
    color: white;
    }   

    .gallery_merch a :hover{
    color: white;
    }
