.logo-image{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}


#container2{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
   }

   .gallery_merch{
    float: left;
    padding: 10px;
    margin: 50px;
    }
    .gallery_merch img{
    width: 220px;
    height: 300px;
    }

    .gallery_merch:hover {
     cursor: pointer;
     border-radius: 2px;
     background-color: #efebe0;
     box-shadow: 2px -20px #E0C9A6 ;
     border: 1px solid grey;
     }


    .gallery_merch1{
        float: left;
        padding: 10px;
        margin: 53px;
        }
        .gallery_merch1 img{
        width: 220px;
        height: 300px;
        }
    
        .gallery_merch1:hover {
         cursor: pointer;
         border-radius: 2px;
         background-color: #efebe0;
         box-shadow: 2px -20px #E0C9A6 ;
         border: 1px solid grey;
        }   
    

    .desc{
    padding: 9px;
    text-align: center;
    font-size: 18px;
    color: white;
    }   

    .gallery_merch a :hover{
    color: white;
    }

.img:hover {
    opacity: 0.6;
}

#container3{
    width: 100%;
    padding: 390px;
    padding-left: 30px;
    padding-right: 10px;
    padding-bottom: 10px;
    top: 50px;
   }

.mtext{
    font-size: 30.9px;
  font-weight:bold;
  text-align: center;
  color: black;
}

.ctext{
  font-size: 25px;
  text-align: center;
  color: black;
}


#container4{
    width: 100%;
    padding: 390px;
    padding-left: 30px;
    padding-right: 10px;
    padding-bottom: 10px;
    top: 50px;
   }
